@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}
body{
    line-height:1;
    background:#fff;
    margin:0 auto;
    font-family:Calibri;
    color:#555555;
}
a{
    text-decoration:none;
    color:#138971;
}
ol, ul{
    list-style:none;
}
blockquote, q{
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content:'';
    content:none;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}

/*************************/
#header-bg{
    float:left;
    width:100%;
    height:auto;
    border-bottom:1px solid #a2a2a2;
}
.header{
    margin:0 auto;
    width:960px;
    height:auto;
}
.logo{
    float:left;
    margin-top:20px;
}
.header nav{
    float:right;
    width:618px;
    height:108px;
}
.header nav li{
    float: right;
    text-align: center;
    width: 85px;
    border-right:1px solid #e2e2e2;
    min-height:104px;
    border-top:4px solid #6D7936;
    background-repeat:no-repeat;
    background-position-y: 10px;
}

.header nav li+li{
    border-top:4px solid #0f7cbb;
}
.header nav li+li+li{
    border-top:4px solid #303030;
}
.header nav li+li+li+li{
    border-top:4px solid #ff2bee;
}
.header nav li+li+li+li+li{
    border-top:4px solid #ff9a69;
}
.header nav li+li+li+li+li+li{
    border-top:4px solid #fe5757;
}
.header nav li+li+li+li+li+li+li{
    border-top:4px solid #a2a2a2;
}

.header nav li a{
    display: block;
    text-transform: uppercase;
    margin-top:65px;
}
.header nav ul li:hover,li.active{
    background: no-repeat scroll #138971;
    background-position-y: 10px;

}


.header nav ul li:hover a, li.active a{
    color: #fff;
}
/**************************/

/**************************/
#headline-bg{
    float:left;
    width:100%;
    height:auto;
    background:#ebebeb;
}
.headline{
    margin:0 auto;
    width:960px;
    height:auto;
}
.headline h1{
    float:right;
    color:#138971;
    padding-right:20px;
    font-size:16px;
    line-height:33px;
    font-weight:bold;
}
.headline marquee{
    float:left;
    width:89%;
    text-align:right;
    line-height:33px;
    color:#7f7c7c;
    font-size:12px;
}
/**************************/

/**************************/
#hadees-bg{
    float:left;
    width:100%;
    margin:25px 0 20px 0;
    height:auto;
    background:#fff;
}
.hadees{
    margin:0 auto;
    width:960px;
    height:auto;
}
.mubarak-bg{
    float:left;
    width:430px;
    height:auto;
}
.mubarak{
    float:left;
    width:96%;
    height:auto;
    background:#ebebeb;
    border-radius:5px;
    padding:10px;
}
.mubarak p{
    color:#7f7c7c;
    font-size:12px;
    line-height:25px;
    text-align:justify;
}
.mubarak h1{
    text-align:right;
    font-weight:bold;
    color:#138971;
    margin-bottom:10px;
}
.mubarak-bg a{
    float:left;
    background:#f2f2f2;
    color:#138971;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    padding:10px 15px;
    border-radius:5px;
    margin:8px 10px 0 0;
}
.mubarak-bg a.active{
    background:#138971;
    color:#fff;
}

.mubarak-bg span{
    line-height:20px;
    font-weight:bold;
    color:#7f7c7c;
    float:left;
    margin-top:20px;
}
.mubarak-bg label{
    font-size:12px;
}
.voda{
    float:right;
    width:520px;
    height:auto;
}
.voda img{
    float:left;
    margin-right:10px;
}
.voda img:nth-child(2n+0){
    margin-right:0px;
}
/*************************/


/**************************/
#content-bg{
    float:left;
    width:100%;
    height:auto;
    background:#fff;
}
.content{
    margin:0 auto;
    width:960px;
    padding:20px 0;
    height:auto;
}
.bayan{
    float:left;
    width:269px;
    height:auto;
}
.bayan h1{
    color:#555555;
    font-size:17px;
    text-align:right;
    font-weight:bold;
}
.bayan img{
    float:right;
    margin:10px 0;
}
.bayan p{
    float:left;
    text-align:justify;
    width:100%;
    color:#555555;
    font-size:14px;
    line-height:20px;	
}
.bayan a{
    color:#52b5f1;
    display:block;
    margin-top:10px;
    float:right;
}
.bayan a img{
    float:left;
    margin:7px 0 0 10px ;
}
.banner{
    float:right;
    width:622px;
    height:394px;
}

.content_area{
    float:left;
    width:100%;
    height:auto;
    padding:20px 0;
}
.content_area .left{
    float:left;
    width:640px;
    height:auto;
}


.news{
    float:left;
    width:308px;
    height:auto;
    margin-bottom:9px;
}
.news:nth-child(2n+0){
    float:right;
}
.ftr{
    float:left;
    width:100%;
    height:92px;
}
.ftr h1{
    float:right;
    font-size:16px;
    font-weight:bold;
    padding:38px 14px;
    color:#fff;
    height:15px;
    width:75px;
    background:#8dc63f;
    text-align:center;
    text-transform:uppercase;
}
.ftr h1 a{
	color:#fff;
}

.news:nth-child(2n+0) .ftr h1{
    background:#0f7cbb;
}

.news:nth-child(3n+0) .ftr h1{
    background:#877768;
}

.news:nth-child(4n+0) .ftr h1{
    background:#fa8248;
}

.news:nth-child(5n+0) .ftr h1{
    background:#ff2bee;
}

.news:nth-child(6n+0) .ftr h1{
    background:#1b4a86;
}

.ftr img{
    float:left;
}
.psts{
    float:left;
    width:100%;
    margin:14px 0 0 0;
}
.psts a{
	 color: #52b5f1;
    float: left;
    margin-top: 10px;
}
.psts img{
    float:right;
    margin-left:10px;
}
.psts p{
    text-align:right;
    font-size:12px;
    line-height:17px;
}

.psts span{
    float:right;
    font-weight:bold;
    font-size:12px;
	margin-top:12px;
}

.content_area .sidebar{
    float:right;
    width:258px;
    padding:20px 20px 20px 14px;
    height:auto;
    background:#eeeeee;
    border-radius:3px;
}
.content_area .sidebar img{
    float:left;
    margin-bottom:30px;
}
.content_area .sidebar img:last-child{
    margin-bottom:0px;
}
/*************************/
#video-bg{
    float:left;
    width:100%;
    height:auto;
    padding:40px 0;
    background:#f3f3f3;
}
.video{
    margin:0 auto;
    width:960px;
    height:auto;
}
.links{
    float:left;
    width:170px;
    height:auto;
    margin-right:45px;
}
.links h1{
    font-weight:bold;
    color:#4e4e4e;
    font-size:17px;
    margin-bottom:20px;
    text-align:center;
}
.links li{
    background:url(../images/bullet.png) no-repeat 0% 50%;
    background-size:9px 8px;
    line-height:34px;
    padding-left:15px;
}
.videolink{
    float:right;
    width:505px;
    height:225px;
}
.videolink a{
    float:left;
    margin-top:7px;
}
/***********************/

/************************/
.inner h1{
    text-align:right;
    color: #138971;
    font-size: 26px;
    font-weight: bold;
    text-align: right;
}
.inner p{
    color: #555555;
    font-size: 14px;
    line-height: 30px;
    padding-top:20px;
}
.inner img{
	float:right;
	margin:5px 0 5px 10px;
}
/************************/

/*************************/
#footer-bg{
    float:left;
    width:100%;
    height:79px;
    background:#19bd9b;
}
.footer{
    margin:0 auto;
    width:800px;
    padding-top:15px;
    height:auto;
    text-align:center;
}
.clear{
    clear:left;
}
.footer li{
    float:left;
    border-right:1px solid #fff;
    color:#fff;
    font-size:15px;
    list-style:none;
    padding:0 15px;
}
.footer li strong{
    float:right;
    font-weight:bold;
}
.footer li:nth-child(3n+0){
    border-right:none;
}
.footer li:nth-child(4n+0){
    border-right:none;
}
.footer p{
    padding-top:10px;
    color:#107c66;
    font-size:14px;
}
/*************************/

