/**
* dashboard inline
*/
.m-stopng{
        width:99%;
        background:#eeeeee;
        border:1px solid #cdcdcd;
        padding: 10px 10px 10px 2px;
        overflow: hidden;
        margin-left:0;
    }
    .seo h1{
        color: #555555;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 0;
        text-shadow: 0 1px 0 #FFFFFF;
    }
    .seo textarea{
        float: left;
        height: 200px;
        width: 43%;
    }

    .seo textarea+textarea{
        float: right;
    }

    .seo input[type="submit"]{
        width:100px;
        background:#894013;
        margin:20px 0;
        padding:10px 0;
        color:#fff;
        border:0;
        border-radius:10px;
        width:200px;
    }
    .seo input[type="submit"]:hover{
        opacity:0.8;
    }
    .m-stopng li{
        float: left;
        width: 48%;
        list-style-type: none;
        background: #fff;
        margin-top: 2px;
        margin-left: 10px;
        padding: 5px;
    }
    .m-stopng li a{
        float: left;
        cursor: pointer;
        padding: 2px 0px 0px 35px;
        font-size: 14px;
        text-decoration: none;
        color: #666;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:normal;
        width:100%;
    }
    .m-first{
        background:url(images/m_slider.png) no-repeat left center;
        line-height: 20px;
    }
    .m-first:hover {
        background:url(images/m_slider_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-second{
        background:url(images/m_page.png) no-repeat left center;
        line-height: 20px;
    }
    .m-second:hover {
        background:url(images/m_page_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-therd{
        background:url(images/m_services.png) no-repeat left center;
        line-height: 20px;
    }
    .m-therd:hover {
        background:url(images/m_services_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-fourth{
        background:url(images/m_folio.png) no-repeat left center;
        line-height: 20px;
    }
    .m-fourth:hover {
        background:url(images/m_folio_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-fifth{
        background:url(images/m_product.png) no-repeat left center;
        line-height: 20px;
    }
    .m-fifth:hover {
        background:url(images/m_product_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-sixth{
        background:url(images/m_links.png) no-repeat left center;
        line-height: 20px;
    }
    .m-sixth:hover {
        background:url(images/m_links_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-seventh{
        background:url(images/m_contact.png) no-repeat left center;
        line-height: 20px;
    }
    .m-seventh:hover {
        background:url(images/m_contact_hover.png) no-repeat left center;
        color: #894013;
    }
    .m-eight{
        background:url(images/m_member.png) no-repeat left center;
        line-height: 20px;
    }
    .m-eight:hover {
        background:url(images/m_member_hover.png) no-repeat left center;
        color: #894013;
    }

    /** eof dashboard inline css */
    
    
    
.text-align-left{
    text-align:left;
}

.text-align-center{
    text-align:center;
}

.pl20{
    padding-left:20px;
}

.width20{
    width: 20%;    
}

.width60{
    width: 60%;    
}
.width80{
    width:80%;
}
.height60{
    height:60px;
}
.float-right{
    float:right;
}

.input-xlarge{
    width:765px;
}

table.dataTable.no-footer {
    border: 1px solid transparent;
}
table.dataTable thead th{
    border-top: 1px solid #C7C7C7;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #C7C7C7;
    
}